In [1]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting',27483), ('Jack Kallis',25534), ('Virat Kohali',24936)]
lambda l :sort(l)
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohali', 24936)]

In [2]:
l =[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
l = [1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
l=[]
for i in range(25):
    l.append(i+1)
from functools import reduce
reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [9]:
l = [2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x:x%6==0,l))

[6, 60, 90, 120]

In [13]:
l = ['python','php','aba','radar','level']
list(filter(lambda x: x[::1]==x[::-1],l))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4283030160.py, line 2)